[Unit]
Description=Shairport AirTunes Receiver
After=sound.target
After=network.target
Requires=avahi-daemon.service
After=avahi-daemon.service

[Service]
EnvironmentFile=/etc/shairport.conf
ExecStart=/usr/local/bin/shairport --name $NAME  -t $DELAY -r $QSOXR $GPIO $DEBUG --log $LOGFILE
User=root
Group=root

[Install]
WantedBy=multi-user.target

